{% extends "main.html" %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr
    }
</style>

<div class="home-container">
    <div> <!--TOPICS-->
        <h3>Browse Topics</h3>
        <hr>

        <div>
            <a href="{% url "home" %}">ALL</a>
        </div>

        {% for topic in topics %}
            <div>
                <a href="{% url "home" %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div><!--ROOMS-->
        {{ room_count }} room{{ room_count|pluralize }} available <br>  
        <a href="{% url 'create-room' %}">Create Room</a><br>
        <hr>
        <div>
            {% for room in rooms %}
            <div>
                <h5> {{room.id}}. <a href="{% url 'room' room.id %}">{{room.name}}</a>  @{{room.host.username}}</h5>
                {% if request.user == room.host %}
                    <a href="{% url 'update-room' room.id %}">Edit Room</a>
                    <a href="{% url 'delete-room' room.id %}">Delete Room</a> 
                {% endif %} 
                <p>{{room.description|truncatewords:10}}</p>
                <small>Topic: {{room.topic.name}} </small>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}